@using fs_2025_a_heatmap_80457.Components.Data

@if (DataPointsGrid != null && DataPointsGrid.Any())
{
    <table class="heatmap-table">
        <tbody>
            @foreach (var row in DataPointsGrid)
            {
                <tr>
                    @foreach (var cell in row)
                    {
                        <td class="heatmap-@cell.Value" title="@cell.Label">@cell.Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data to display</p>
}

@code {
    [Parameter]
    public List<List<HeatMapDataPoint>> DataPointsGrid { get; set; } = new();
}
